<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="lib/crypto.js"></script>
    <script src="lib/aes.js"></script>
    <script src="lib/mode-ecb.js"></script>
    <script src="lib/pad-nopadding.js"></script>
    <script src="lib/scrypt.js"></script>
    <script src="lib/neo-ts.js"></script>

    <script>
     let signed = false;
    </script>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <h2>NEO Account To Ethereum Account Mapping</h2>
        <div class="home">
          <a class="home" href="/">Home</a>
        </div>
        <form>
          <input id="privateKeyWif" type="text" class="ghost-input" placeholder="NEO Account Private Key(WIF) " required ></input>
          <input id="ethAddress" type="text" class="ghost-input" placeholder="Ethereum Address " required />
          <p id="error-msg" class="error"> </p>
          <input type="button" class="ghost-button" value="Sign" onclick="sign();">
        </form>
      </fieldset>


      <fieldset id="sign-result" style="display: none">
        <form id="bind-form" action="/bind" method="post">
          <table>
            <tr>
              <td class="lable">NEO Address</td>
              <td class="content"><input id="neoAddress" name="neoAddress" type="text" class="ghost-input2" value="<%=neoAddress%>" readonly /></td>
            </tr>
            <tr>
              <td class="lable">ETH Address</td>
              <td class="content"><input id="ethAddress2" name="ethAddress" type="text" class="ghost-input2" value="<%=ethAddress%>" readonly /></td>
            </tr>
            <tr>
              <td class="lable">Sign Text</td>
              <td class="content"><textarea id="signText" name="signText" rows="3" class="ghost-input2" readonly ><%=signText%></textarea></td>
            </tr>
          </table>

          <% if(msg) { %>
            <script>
             document.getElementById("sign-result").style.display = "block";
            </script>
            <p id="bind-msg" class="msg"> <%= msg %> </p>
          <% } %>

          <input type="button" class="ghost-button" value="Submit" onclick="submit();">
        </form>
      </fieldset>

    </div>
  </body>

  <script>
   function clear() {
     document.getElementById("error-msg").innerHTML = "";
     document.getElementById("sign-result").style.display = "none";
     const bindMsgE = document.getElementById("bind-msg");
     if (bindMsgE) {
       bindMsgE.innerHTML = "";
     }

     document.getElementById("neoAddress").value = "";
     document.getElementById("ethAddress2").value = "";
     document.getElementById("signText").value = "";
   }

   function sign() {
     clear();

     try {
       const wif = document.getElementById("privateKeyWif").value.trim();
       const source = document.getElementById("ethAddress").value.trim();
       console.log(wif, source);
       const privKey = ThinNeo.Helper.GetPrivateKeyFromWIF(wif);
       const pubKey = ThinNeo.Helper.GetPublicKeyFromPrivateKey(privKey);
       const _neoAddress = ThinNeo.Helper.GetAddressFromPublicKey(pubKey);
       console.log(privKey.toHexString(), pubKey.toHexString(), neoAddress);

       const sign = ThinNeo.Helper.Sign(source.hexToBytes(), privKey);
       const _signHex = sign.toHexString();
       console.log("signHex", _signHex);

       // erease private key WIF in this page:
       document.getElementById("privateKeyWif").value = "";

       document.getElementById("neoAddress").value = _neoAddress;
       document.getElementById("ethAddress2").value = source;
       document.getElementById("signText").value = _signHex;

       document.getElementById("sign-result").style.display = "block";
     } catch (err) {
       console.log(err);
       document.getElementById("error-msg").innerHTML = "Error: " + err.message;
     }
   }
  </script>
</html>
