<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="lib/crypto.js"></script>
    <script src="lib/aes.js"></script>
    <script src="lib/mode-ecb.js"></script>
    <script src="lib/pad-nopadding.js"></script>
    <script src="lib/scrypt.js"></script>
    <script src="lib/neo-ts.js"></script>

    <script>
     let signed = false;
    </script>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <h2>NEO Account To Ethereum Account Mapping</h2>
        <div class="home">
          <a class="home" href="/">Home</a>
        </div>
        <form>
          <input id="privateKeyWif" type="text" class="ghost-input" placeholder="NEO Account Private Key WIF " required ></input>
          <input id="ethAddress" type="text" class="ghost-input" placeholder="Ethereum Address " value="<%=locals.ethAddress%>" required />
          <input type="button" class="ghost-button" value="Sign" onclick="sign();">
        </form>
      </fieldset>

      <fieldset id="sign-result" style="visibility: hidden; display: none">
        <form id="bind-form" action="/bind" method="post">
          <input id="neoAddress" name="neoAddress" type="text" class="ghost-input2" readonly />
          <input id="ethAddress2" name="ethAddress" type="text" class="ghost-input2" readonly />
          <textarea id="signText" name="signText" rows="5" class="ghost-input2" readonly ></textarea>
          <input type="button" class="ghost-button" value="Submit" onclick="submit();">
        </form>

        <p id="error-msg"> </p>
      </fieldset>

      <% if(msg) { %>
        <p class="msg"> <%- msg %> </p>
      <% } %>
    </div>
  </body>

  <script>
   function sign() {
     const wif = document.getElementById("privateKeyWif").value.trim();
     const source = document.getElementById("ethAddress").value.trim();
     console.log(wif, source);
     const privKey = ThinNeo.Helper.GetPrivateKeyFromWIF(wif);
     const pubKey = ThinNeo.Helper.GetPublicKeyFromPrivateKey(privKey);
     const neoAddress = ThinNeo.Helper.GetAddressFromPublicKey(pubKey);
     console.log(privKey.toHexString(), pubKey.toHexString(), neoAddress);

     const sign = ThinNeo.Helper.Sign(source.hexToBytes(), privKey);
     const signHex = sign.toHexString();
     console.log("signHex", signHex);

     // erease private key WIF in this page:
     document.getElementById("privateKeyWif").value = "";

     document.getElementById("sign-result").style.visibility = "visible";
     document.getElementById("sign-result").style.display = "inline";
     document.getElementById("neoAddress").value = neoAddress;
     document.getElementById("ethAddress2").value = source;
     document.getElementById("signText").value = signHex;
   }
  </script>
</html>
